!!!
%html
  %head
    %script{:src=>"http://js.pusherapp.com/1.5/pusher.min.js"}
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %title Pusher Fun
    :javascript
      $(document).ready(function() {
        var server = new Pusher("#{API_KEY}", "pusherfun-#{APP_ENVIRONMENT}");
        server.bind('new_message', function(message) {
          $(".messages").prepend('<p>' + message + '</p>');
        });
        $("#new_message_form").submit(function() {
          $.post("/messages", $("#new_message_form").serialize(), function(message) {
            $(".messages").prepend('<p>' + message + '</p>');
            $(".screen_name_field").hide();
            $("input#message_input").val("");
          });
          return false;
        });
      });
  %body
    %fieldset
      %form{:action=>"/messages", :id=>"new_message_form", :method=>"post"}
        %p
          .screen_name_field
            %label Screen Name:
            %br/
            %input{:type=>"screen_name", :name=>"screen_name", :id=>"screen_name_input"}
        %p
          .message_field
            %label Message:
            %br/
            %input{:type=>"text", :name=>"message", :id=>"message_input"}
          %p
            %input{:name=>"submit", :type=>"submit", :value=>"Submit"}
    .messages
      - @messages.each do |message|
        %p
          - if message.created_at
            %small= message.created_at.localtime.strftime('%m/%d/%Y %I:%M %p')
          %br/
          %b
            = "#{h(message['screen_name'])}:"
          = h(message['message'])

